<div class="container-fluid testfooter">
<div class="row text-center">

    <div class="col-xs-12 col-md-4">
        <div class="text-center">
            <img src="../images/logo.png" alt="logo" class="logo">
            <a class="footer_nav" href="../index.html">home</a>
            <a class="footer_nav" href="../dehut.html">De Hut</a>
            <a class="footer_nav" href="../overons.html">Over ons</a>
            <a class="footer_nav" href="activiteiten.html">activiteiten</a>
            <a class="footer_nav" href="recensies.html">Resensies</a>
            <a class="footer_nav" href="faq.html">FAQ</a>
            <a class="footer_nav" href="disclaimer.html">Disclaimer</a>
            <a class="footer_nav" href="../contact.html">Contact</a>
            <a class="footer_nav" href="../reserveren_reserveren.html">Reserveren</a>
        </div>

    </div>


    <div class="col-xs-12 col-md-4">
        <P class="testfooter">Industrieweg 323 <br> 9000 Gent</P>
        <p>+32 425 254 268</p>
        <p>Leafhouse@info.com</p>
    </div>


    <div class="col-xs-12 col-md-4">
        <P class="testfooter">Industrieweg 323 <br> 9000 Gent</P>
        <p>+32 425 254 268</p>
        <p>Leafhouse@info.com</p>
    </div>

    {%- if site.show-style-guide %}
    <a href="{{ site.baseurl }}{% link style-guide/index.md %}" class="btn">Style Guide</a>
    {%- endif %}

    <div class="col-12" id="copyright">
        <p>copyright 2017 by Jordi Allard</p>
    </div>

</div>
</div>