<div class="container-fluid testfooter">
    <div class="col-12 text-center">
        <img src="images/logo6.png" alt="logo" class="footerlogo img-fluid">
    </div>


    <div class="row text-center align-middle">
        <div class="col-xs-12 col-md-4 footertext">                
            <div class="text-center">
                <a class=" footer_nav" href="index.html">home</a>
                <a class=" footer_nav" href="dehut.html">De Hut</a>
                <a class=" footer_nav" href="overons.html">Over ons</a>
                <a class=" footer_nav" href="contact.html">Contact</a>
                <a class=" footer_nav" href="betalen/reserveren_reserveren.html">Reserveren</a>
            </div>

        </div>

    <hr class="footerline">

        <div class="col-xs-12 col-md-4 footertext">
            <P>Rue des Aguesses 60  <br> 6940 Durbuy</P>
            <p>+32 425 254 268</p>
            <p>Leafhouse@info.com</p>
        </div>

    <hr class="footerline">

<div class="col-xs-12 col-md-4 footertext">
    <div class="container ">
        <div class="row">
            <div class="col-md-6 ">
                <a href="http://www.facebook.com"><div class="facebook sprites"></div></a>
            </div>
            <div class="col-md-6 ">
                <a href="http://www.instagram.com"><div class="instagram sprites"></div></a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 ">
                <a href="http://www.twitter.com"><div class="twitter sprites"></div></a>
            </div>
            <div class="col-md-6 ">
                <a href="http://www.googleplay.com"><div class="googleplay sprites"></div></a>
            </div>
        </div>
    </div>
</div>
        {%- if site.show-style-guide %}
        <a href="{{ site.baseurl }}{% link style-guide/index.md %}" class="btn">Style Guide</a>
        {%- endif %}

        <div class="col-12" id="copyright">
            <p>copyright 2017 by Jordi Allard</p>
        </div>

    </div>
</div>


